Options +FollowSymlinks
RewriteEngine On
RewriteBase /

# Exclude directories from rewrite rules
RewriteRule ^(css|i|js|storages|assets) - [L]

# For Friendly URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
RewriteRule ^(.*)$ index.php
